{% extends "styleguide/base.html" %}

{% block tables %}
<div class="site-wrap wrap">
	<h2 class="styleguide-title">typography</h2>

	<table class="styleguide-table">
		<tr>
			<td>.text-1, h1</td>
			<td><p class="text-1">Crunchum ipsum dolor sit coder void, constructor function.</p></td>
			<td>mobile: 52/54px<br/>
				desktop: 60/60px</td>
		</tr>
		<tr>
			<td>.text-2, h2</td>
			<td><p class="text-2">Crunchum ipsum dolor sit coder void, constructor function.</p></td>
			<td>mobile: 45/42px<br/>
				desktop: 47/50px</td>
		</tr>
		<tr>
			<td>.text-3, h3</td>
			<td><p class="text-3">Crunchum ipsum dolor sit coder void, constructor function.</p></td>
			<td>mobile: 35/42px<br/>
				desktop: 35/42px</td>
		</tr>
		<tr>
			<td>.text-4, h4</td>
			<td><p class="text-4">Crunchum ipsum dolor sit coder void, constructor function.</p></td>
			<td>mobile: 34/35px<br/>
				desktop: 32/35px</td>
		</tr>
		<tr>
			<td>.text-5, h5</td>
			<td><p class="text-5">Crunchum ipsum dolor sit coder void, constructor function.</p></td>
			<td>mobile: 25/32px<br/>
				desktop: 26/31px</td>
		</tr>
		<tr>
			<td>.text-6, h6</td>
			<td><p class="text-6">Crunchum ipsum dolor sit coder void, constructor function.</p></td>
			<td>mobile: 25/30px<br/>
				desktop: 25/32px</td>
		</tr>
		<tr>
			<td>.text-7</td>
			<td><p class="text-7">Crunchum ipsum dolor sit coder void, constructor function.</p></td>
			<td>mobile: 36/37px<br/>
				desktop: 24/25px</td>
		</tr>
		<tr>
			<td>.text-8</td>
			<td><p class="text-8">Crunchum ipsum dolor sit coder void, constructor function.</p></td>
			<td>mobile: 25/30px<br/>
				desktop: 20/22px</td>
		</tr>
		<tr>
			<td>.text-9</td>
			<td><p class="text-9">Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.</p></td>
			<td>mobile: 25/30px<br/>
				desktop: 18/24px</td>
		</tr>
		<tr>
			<td>.text-10, body</td>
			<td><p class="text-10">Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.</p></td>
			<td>mobile: 25/30px<br/>
				desktop: 18/21px</td>
		</tr>
		<tr>
			<td>.text-11</td>
			<td><p class="text-11">Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.</p></td>
			<td>mobile: 27/31px<br/>
				desktop: 18/20px</td>
		</tr>
		<tr>
			<td>.text-12</td>
			<td><p class="text-12">Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.</p></td>
			<td>mobile: 25/30px<br/>
				desktop: 16/20px</td>
		</tr>
		<tr>
			<td>.text-13</td>
			<td><p class="text-13">Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.</p></td>
			<td>mobile: 12/18px<br/>
				desktop: 16/20px</td>
		</tr>
		<tr>
			<td>.text-14</td>
			<td><p class="text-14">Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.</p></td>
			<td>mobile: 25/30px<br/>
				desktop: 14/20px</td>
		</tr>
		<tr>
			<td>.text-15</td>
			<td><p class="text-15">Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.</p></td>
			<td>mobile: 25/30px<br/>
				desktop: 14/20px</td>
		</tr>
	</table>

	<h2 class="styleguide-title">.button</h2>

	<table class="styleguide-table">
		<tr>
			<td>.nav-button</td>
			<td><a class="nav-button button">Button</a></td>
			<td></td>
		</tr>
		<tr>
			<td>.action-button</td>
			<td><a class="action-button button">Button</a></td>
			<td></td>
		</tr>
		<tr>
			<td>.action-button.v2</td>
			<td><a class="action-button button v2">Button</a></td>
			<td></td>
		</tr>
		<tr>
			<td>.action-button.v3</td>
			<td><a class="action-button button v3">Button</a></td>
			<td></td>
		</tr>
		<tr>
			<td>.action-button.v4</td>
			<td><a class="action-button button v4">Button</a></td>
			<td></td>
		</tr>
		<tr>
			<td>.action-button.v5</td>
			<td><a class="action-button button v5">Button</a></td>
			<td></td>
		</tr>
		<tr>
			<td>.action-button.v6</td>
			<td><a class="action-button button v6">Button</a></td>
			<td></td>
		</tr>
		<tr>
			<td>.tab-button</td>
			<td><a class="tab-button button">Button</a></td>
			<td></td>
		</tr>
	</table>
</div>
{% endblock %}