{% extends "styleguide/base.html" %}

{% block tables %}
<div class="site-wrap wrap">
	<h2 class="styleguide-title">columns</h2>

	<table class="styleguide-table">
		<tr>
			<td>.col-block.v2</td>
			<td>
				<div class="col-block block v2">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
				</div
				><div class="col-block block v2">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>.col-block.v3</td>
			<td>
				<div class="col-block block v3">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
				</div
				><div class="col-block block v3">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
				</div
				><div class="col-block block v3">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation semi colon incident.
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>.col-block<br/>.col-block.v4</td>
			<td>
				<div class="col-block block">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation.
				</div
				><div class="col-block block">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation.
				</div
				><div class="col-block block">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation.
				</div
				><div class="col-block block">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python orientation.
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>.col-block.v5</td>
			<td>
				<div class="col-block block v5">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python.
				</div
				><div class="col-block block v5">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python.
				</div
				><div class="col-block block v5">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python.
				</div
				><div class="col-block block v5">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python.
				</div
				><div class="col-block block v5">
					<img src="https://lh6.googleusercontent.com/-iKCpKHle73E/VG3d9ySmfCI/AAAAAAAAKaA/wcn7rnzGN2I/w1015-h571-no/DSC08186" />
					Crunchum ipsum dolor sit coder void, constructor function, sed do while loop python.
				</div>
			</td>
			<td></td>
		</tr>
	</table>
</div>

<div class="site-wrap wrap">
	<h2 class="styleguide-title">blocks</h2>

	<table class="styleguide-table">
		<tr>
			<td>.bubble-block</td>
			<td><div class="bubble-block block">Crunchum ipsum</div></td>
			<td></td>
		</tr>
		<tr>
			<td>.striped-block</td>
			<td><div class="striped-block block">Crunchum ipsum dolor sit coder void</div></td>
			<td>Requires <a href="/static/images/bg-stripes.svg">bg-stripes.svg</a></td>
		</tr>
		<tr>
			<td>.beige-block</td>
			<td><div class="beige-block block">Crunchum ipsum dolor sit coder void</div></td>
			<td></td>
		</tr>
		<tr>
			<td>.grey-block</td>
			<td><div class="grey-block block">Crunchum ipsum dolor sit coder void</div></td>
			<td></td>
		</tr>
	</table>
</div>


<div class="site-wrap wrap">
	<h2 class="styleguide-title">table</h2>

	<table class="styleguide-table">
		<tr>
			<td>table</td>
			<td>
				<table>
					<thead>
						<tr>
							<td></td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Some text that wraps</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Text</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Text</td>
							<td>2</td>
							<td colspan="2">3</td>
						</tr>
						<tr>
							<td>Text</td>
							<td colspan="3">2</td>
						</tr>
						<tr>
							<td>Text</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>.site-wrap > table</td>
			<td>
				<div class="site-wrap wrap">
					<table>
						<thead>
							<tr>
								<td></td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Some text that wraps</td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
							</tr>
							<tr>
								<td>Text</td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
			<td>
				A table that is a direct child of .site-wrap pushes
				it's left and right margins outside the wrap.
			</td>
		</tr>
	</table>
</div>
{% endblock %}
