{% extends "email/email.html" %}
{% load i18n %}
{% block email_inner %}
<h2>{% trans "Vous avez demandé de réinitialiser votre mot de passe." %}</h2>
<p>{% trans "Si vous souhaitez poursuivre, veuillez cliquer sur ce bouton pour réinitialiser votre mot de passe." %}</p>
<table>
    {% include "email/includes/spacer-block.html" with height="30" colspan="3" width="600" %}
</table>
<p style="text-align:center; ">
    <a style="text-decoration: none;line-height: 1.22222222em; padding: 0.5em 1em; border-radius: 0.44444444em;min-width: 6em;color: white;background-color: #9060EB;border: 0.11111em solid #9060EB;" href="{{ BASE_URL }}{% url 'users.password-reset-confirm' uidb64=uid token=token %}">{% trans "Réinitialiser mon mot de passe" %}</a>
</p>
<table>
    {% include "email/includes/spacer-block.html" with height="30" colspan="3" width="600" %}
</table>
<p>{% trans "Si vous n'avez pas demandé de réinitialiser votre mot de passe, veuillez simplement ignorer cet e-mail." %}</p>
{% endblock %}
