{% extends "./base.html" %}
{% load i18n %}
{% block content %}
<main class="content-box box">
    <h1>{% trans "Réinitialiser mon mot de passe" %}</h1>
    {% if form %}
    <p>{% trans "Veuillez saisir un nouveau mot de passe." %}</p>
    <form action="." method="post">
        {% csrf_token %}
        {{form}}
        <div class="buttons-grid grid">
            <input class="action-button button" type="submit" name="submit" value="{% trans 'Submit' %}">
        </div>
    </form>
    {% else %}
    <p>{% trans "Navré, ce lien n'est plus valide, veuillez cliquer" %} <a href="{% url 'users.password_reset' %}">{% trans "ici" %}</a> {% trans "pour relancer la procédure de réinitialisation." %}</p>
    {% endif %}
</main>
{% endblock %}
