Django>=4.2,<4.3
wagtail>=6.1,<6.3
Pillow
gunicorn
easy-thumbnails
django-extensions
python-memcached
pymemcache
raven
IPython
pudb
django-parler~=2.3
redis

boto3
django-filer
Fabric3 @ git+https://github.com/cruncher/fabric.git@2008803bb540d8ccccb1398c04d4b8637d947ccf
psycopg2-binary
python-dateutil
requests
sentry-sdk
Werkzeug
xlrd
xlwt
django-querycount
django-rosetta

pre-commit
black>=24.3.0
flake8



django-impersonate
django-sekizai
django-storages

# For django OTP admin
django-otp
qrcode

# pretty console
django-typer[rich] # https://github.com/bckohan/django-typer?tab=readme-ov-file#basic-example
pytz


unidecode

# admin honeypot
django-admin-honeypot @ git+https://github.com/cruncher/django-admin-honeypot.git@1cf94e3d9809bb45e54fa83f9587a8c9bcc62fdf

# task scheduler
rq~=1.16.0
django-tasks-scheduler>=1.3.2

