[submodule "project_name/static/bolt"]
	path = project_name/static/bolt
	url = https://github.com/stephband/bolt.git
[submodule "project_name/static/sparky"]
	path = project_name/source/sparky
	url = https://github.com/cruncher/sparky.git
[submodule "project_name/static/fn"]
	path = project_name/source/fn
	url = https://github.com/stephband/Fn.git
[submodule "project_name/static/dom"]
	path = project_name/source/dom
	url = https://github.com/stephband/dom.git
[submodule "project_name/source/bolt"]
	path = project_name/source/bolt
	url = git@github.com:stephband/bolt.git
