Django>4.0,<4.1

Pillow
django-crispy-forms
cssmin
gunicorn
django-compressor
easy-thumbnails
django-extensions
python-memcached
pymemcache
raven
IPython
pudb

black==19.3b0

-e git+https://github.com/cruncher/cmsplugin-filer@0c3755cad42fa713cc75017d0322270c888a90a3#egg=cmsplugin_filer
boto3
django-cms~=3.9.0
djangocms-snippet
django-eml-email-backend
django-filer
django-impersonate
django-sekizai
django-storages
djangocms-text-ckeditor
-e git+https://github.com/cruncher/fabric.git@1c60d21b37af4cdf2ce9cc6ef334cc7a978ee3e9#egg=fabric3
psycopg2-binary
python-dateutil
requests
sentry-sdk
Werkzeug
xlrd
xlwt
django-querycount
django-rosetta

pre-commit~=2.12.1

# For django OTP admin
django-otp
qrcode

# pretty console
rich
pytz