Django>4.1,<4.2

Pillow
django-crispy-forms
cssmin
gunicorn
django-compressor
easy-thumbnails
django-extensions
python-memcached
pymemcache
raven
IPython
pudb
django-parler~=2.3

black~=22.10

-e git+https://github.com/cruncher/cmsplugin-filer@0c3755cad42fa713cc75017d0322270c888a90a3#egg=cmsplugin_filer
boto3
django-cms~=3.11.0
djangocms-snippet
django-eml-email-backend
django-filer
django-impersonate
django-sekizai
django-storages
djangocms-text-ckeditor
-e git+https://github.com/cruncher/fabric.git@1c60d21b37af4cdf2ce9cc6ef334cc7a978ee3e9#egg=fabric3
psycopg2-binary
python-dateutil
requests
sentry-sdk
Werkzeug
xlrd
xlwt
django-querycount
django-rosetta

pre-commit~=2.20.0

# For django OTP admin
django-otp
qrcode

# pretty console
rich
pytz

# comms
-e git+https://github.com/cruncher/djangocms-page-meta.git#egg=djangocms_page_meta
-e git+https://github.com/cruncher/django-check-seo.git#egg=django_check_seo

# admin honeypot
git+https://github.com/cruncher/django-admin-honeypot.git@1cf94e3d9809bb45e54fa83f9587a8c9bcc62fdf#egg=django-admin-honeypot


