Django>=3.2.0,<3.3.0

Pillow
django-crispy-forms
cssmin
gunicorn
django-compressor
easy-thumbnails
django-extensions
python-memcached
raven
IPython
pudb

black==19.3b0

-e git+https://github.com/pawelmarkowski/cmsplugin-filer@54ae2e27e460a4d05a4735955838422611008098#egg=cmsplugin_filer
boto==2.49.0
botocore==1.15.0
django-cms==3.9.0rc2
djangocms-snippet
django-eml-email-backend
django-filer==2.0.2
django-impersonate==1.7.1
django-sekizai==2.0.0
django-storages==1.8
djangocms-text-ckeditor
Fabric3
psycopg2-binary
python-dateutil
requests
sentry-sdk
Werkzeug
xlrd
xlwt
django-querycount
django-rosetta

pre-commit==2.12.1
