# m h  dom mon dow   command

@daily ~/{{cookiecutter.project_slug}}/.venv/bin/python ~/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/manage.py clearsessions
# @daily ~/{{cookiecutter.project_slug}}/.venv/bin/python ~/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}/manage.py update_index -r -v0

@daily pg_dump -f ~/backup/{{cookiecutter.project_slug}}.daily.dmp {{cookiecutter.project_slug}}
1 * * * * /bin/bash -c 'pg_dump -f  ~/backup/{{cookiecutter.project_slug}}.hourly.`date +"\%H"`.dmp {{cookiecutter.project_slug}}'
