<!doctype html>{% load sekizai_tags compress i18n static cms_tags cache_buster_tags page_meta_tags meta %}{% page_meta request.current_page as page_meta %}
{% autoescape off %}<html {% schemaorg_html_scope page_meta.schemaorg_type %} lang="{{request.LANGUAGE_CODE}}">{% endautoescape %}
<head>
    <meta charset="utf-8" />
    <meta name="author" content="" />

    {% page_attribute "meta_description" as meta_description %}
    {% trans "DEFAULT DESCRIPTION" as default_description %}
    <meta name="description" content="{{meta_description|default:default_description}}" />

    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2" />

    {% block extra_head_meta %}{% endblock extra_head_meta %}

    <title>{% block headtitle %}{% endblock headtitle %}</title>

    <script title="load">
    document.documentElement.className += ' js content-loading loading';
    window.addEventListener('DOMContentLoaded', () => document.documentElement.classList.remove('content-loading'));
    window.addEventListener('load', () => document.documentElement.classList.remove('loading'));
    </script>

    <script title="config">
    {% if debug %}
    window.DEBUG = true;
    {% else %}
    window.elementOverflowToggleStylesheet = '/static/build/bolt/elements/overflow-toggle/shadow.css';
    window.elementSlideShowStylesheet = '/static/build/bolt/elements/slide-show/shadow.css';
    {% endif %}

    window.config = {};
    {% render_block "config" %}
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap" rel="stylesheet">

    <!--link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="/static/icons/57-touch-icon-iphone.png" />
    <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 132dpi)" href="/static/icons/72-touch-icon-iphone.png" />
    <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="/static/icons/114-touch-icon-iphone.png" />
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff"-->

    {% if debug %}
    <link rel="stylesheet" href="{{STATIC_URL}}site/module.css?v={% cache_buster %}" />
    <link rel="stylesheet" href="{{STATIC_URL}}bolt/debug/debug.css" />
    {% else %}
    <link rel="stylesheet" href="{{STATIC_URL}}build/site/module.css?v={% cache_buster %}" />
    {% endif %}

    {% block page_meta %}
    {% include 'djangocms_page_meta/meta.html' with meta=page_meta %}
    {% endblock page_meta %}

    {% if request.user.is_superuser %}
    {# Warn admins about empty elements, buttons without type, images with no alt #}
    <link rel="stylesheet" href="{{STATIC_URL}}site/classes/warn-not-cms.css" />
    {% endif %}

    {% render_block "css" %}
    {% block head %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% render_block "templates" %}
</head>

<body {% block bodytag %}{% endblock bodytag %}>
    {% cms_toolbar %}
    {% block body %}{% endblock body %}

    {% if debug %}<!-- scripts -->{% endif %}
    <script type="module" title="Module">
        {% if debug %}
        import '{{STATIC_URL}}site/module.js?v={% cache_buster %}';
        {% else %}
        import '{{STATIC_URL}}build/site/module.js?v={% cache_buster %}';
        {% endif %}
        {% render_block "script" %}
    </script>
    {% render_block "js" %}
    {% render_block "js_nocompress" %}

    {% if debug or request.user.is_superuser %}
    {# Warn admins about empty elements #}
    <script type="module" src="{{STATIC_URL}}site/classes/warn-not-cms.js"></script>
    {% endif %}

    {% if not debug %}
    <!--script async src="https://www.googletagmanager.com/gtag/js?id=UA-129018304-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-129018304-1');
    </script-->
    {% endif %}
</body>
</html>
