<!-- header block -->
<table cellpadding="0" cellspacing="0" border="0" align="center" class="w600" style="background:#ececec" bgcolor="#ececec">
  <tr><td valign="top">&nbsp;</td></tr>
  {% comment %}
  <tr>
    <td valign="top" style="vertical-align: top; text-align:right; background: #f4f4f4; font-family: arial; font-size: 12px; line-height: 12px; color: #898989" width="660" class="w600">
      Si vous ne voyez pas correctement cette page, <a href="{{unsub_link_url}}" style="text-decoration: none;"><span style="color: {{link_color}}; font-family: arial; font-size: 12px; line-height: 12px; text-decoration: underline">cliquez ici</span></a>.
    </td>
  </tr>
  <tr><td valign="top">&nbsp;</td></tr>
  {% endcomment %}
</table>
<!-- /header block -->