{% extends "admin/base.html" %}
{% load i18n cruncher_tags %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}

{% block userlinks %}
    {{block.super}}

    {% if request.user.is_impersonate %}
        / <a href="/impersonate/stop/?next=/admin/users/user/">Arrêter l'impersonification</a>
    {% endif %}

<span style="margin:0 0.5rem"></span>
{% for lang in LANGUAGES %}
{% if LANGUAGE_CODE == lang.0 %}<strong>{% endif %} <a class="lang-button" href="{% change_lang lang.0 %}">{{ lang.0 }}</a>{% if LANGUAGE_CODE == lang.0 %}</strong>{% endif %}
{% if not forloop.last  %} / {% endif %}
{% endfor %}


<style type="text/css">
    body #user-tools #logout-form button,
    body #user-tools {
        font-size: 0.75rem;
    }
    body #user-tools .lang-button {
        font-size: 0.85rem;
    }


</style>
{% endblock %}
