{% extends "cms/page.html" %}
{% load i18n cms_tags %}

{% block headtitle %}{% trans "Connexion" %}{{block.super}}{% endblock headtitle %}


{% block content %}
<main class="content-box box">
    <h1 class="center-align text-01">{% trans "Connexion" %}</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{form.as_p}}
        <div class="buttons-grid grid">

            <input type="submit" class="action-button button" value="{% trans "Connexion" %}" />
        </div>
    </form>

    <hr>

</main>
{% endblock %}