{% include "email/includes/h1.html" with text="H1 block title titletitle titleblock title titletitle titleblock title titletitle title" %}
{% include "email/includes/h2.html" with text="H2 block block title titletitle title" %}
{% include "email/includes/h3.html" with text="H3 block block title titletitle title" %}

<p>&nbsp;</p>

<p>
    <b>Texte en gras loremp ipsum.</b> Sa conception contemporaine offre de belles surfaces de vie ouvertes sur l'extérieur. Elle est composée de 4 pièces réparties sur 5 niveaux, les espaces extérieurs bénéficient d'une magnifique vue panoramique sur le Lac et les Alpes.
</p>

<p>&nbsp;</p>

<p>
    Sa conception contemporaine offre de belles surfaces de vie ouvertes sur l'extérieur. Elle est composée de 4 pièces réparties sur 5 niveaux, les espaces extérieurs bénéficient d'une magnifique vue panoramique sur le Lac et les Alpes.
</p>

<p>&nbsp;</p>

<p><a href="#" style="text-align:left; font-family: arial; font-size: 16px; line-height:25px; color: {{corp_color}};">Some link</a></p>

<ul>
    <li>Qualité constructive de type Minergie. (non labellisé) Sa conception contemporaine offre de belles surfaces de vie ouvertes sur l'extérieur. Elle est composée de 4 pièces réparties sur 5 niveaux, les espaces.</li>
    <li>Qualité constructive de type Minergie. (non labellisé) Sa conception contemporaine offre de belles surfaces de vie ouvertes sur l'extérieur. Elle est composée de 4 pièces réparties sur 5 niveaux, les espaces.</li>
</ul>

<p>&nbsp;</p>

{% include "email/includes/button.html" with text="Bouton" href="http://cruncher.ch/" %}

<p>&nbsp;</p>

{% include "email/includes/grey-box.html" with text="<b>Qualité constructive de type Minergie.</b> (non labellisé) Sa conception contemporaine offre de belles surfaces de vie ouvertes sur l'extérieur. Elle est composée de 4 pièces réparties sur 5 niveaux, les espaces."  %}
